<div class="card-content" [@isFavorite]="trip.isSelected() ? 'stateFavorite' : 'stateNoFavorite'">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt=""> <span>
      <h4>{{position}}</h4>
    </span>
  </div>
  <div class="card-desc">
    <h3>{{trip.name}}</h3>
    <p>{{trip.description}}</p>
    <p>Servicios:</p>
    <ul>
      <li *ngFor="let service of trip.services">
        <span [ngSwitch]="service">
          <i *ngSwitchCase="'desayuno'" style="color: red;">{{service}}</i>
          <i *ngSwitchDefault>{{service}}</i>
        </span>
      </li>
    </ul>
    <a href="#" class="btn-card" (click)="visit()" appTracker data-tracker-tags="trip_visit item_list">Visit!</a>
    <span *ngIf="trip.isSelected()">
      <span ngNonBindable>- {{PREFERIDO}} -</span>
    </span>
    <a [routerLink]="['/trip', trip.id]">Ver Detalle...</a>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <a href="#" (click)="voteUp()" appTracker data-tracker-tags="trip_vote_up item_list"><i class="material-icons md-18">thumb_up</i></a>
      {{trip.votes}}
      <a href="#" (click)="voteDown()" appTracker data-tracker-tags="trip_vote_down item_list"><i class="material-icons md-18">thumb_down</i></a>
    </div>
  </div>
</div>
