<div class="container content">
  <div class="row">
    <div class="col">
      <span class="anchor" id="formLogin"></span>
      <!-- form card login with validation feedback -->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Destinos</h3>
        </div>
        <div class="card-body">
          <app-form (onItemAdded)="add($event)"></app-form>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5">
  <div class="row row-flex">
    <app-item *ngFor="let t of all; let i=index" [trip]="t" [idx]="i+1" (onClicked)="select(t)" appSpyme></app-item>
  </div>

  <hr class="md-5" />

  <div class="row row-flex">
    <h5>Actividad</h5>
    <ul>
      <li *ngFor="let u of updates;">{{u}}</li>
    </ul>
  </div>
</div>
