<p>Detail Works!</p>
<hr>

<mgl-map [style]="style" [zoom]="[2]" style="height:50vh; width:100vw;">
  <mgl-marker [lngLat]="[-75.551012, 10.421185]">
    <div onclick="alert('Hola')" class="marker">
      Hello World!!
    </div>
  </mgl-marker>
</mgl-map>
