<div id="formContent">
  <div class="col-md-4">
    <h3>Login</h3>
    <form *ngIf="!authService.getUser()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" name="username" #username />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name="passsword" #passsword />
      </div>
      <div class="form-group">
        <a class="btn-card" (click)="login(username.value, passsword.value)">Entrar!</a>
      </div>
      <div class="form-group">
        {{messageError}}
      </div>
    </form>
    <a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()">Salir</a>
  </div>
</div>
