<p>Listado de Reservas funciona!</p>
<a [routerLink]="['./', 10]">Ir a detalle</a> |
<a [routerLink]="['/login']">Ir a login</a> |

<div *ngFor="let r of api.getAll()">
  {{r.id}} - {{r.name}}
</div>
