<div class="container content">

  <div style="float:right">
    <select (change)="translate.use($event.target.value)">
      <option value="ca">Català</option>
      <option value="es">Castellano</option>
      <option value="en">English</option>
    </select>
  </div>

  <div class="header">
    <div class="container">
      <h1>
        {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
      </h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/trip', 10]">Viaje</a>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>

<hr class="mb-5"/>

Fecha: {{ time | async }}
