<form [formGroup]="fg" (ngSubmit)="save(fg.controls['name'].value, fg.controls['url'].value, fg.controls['description'].value)">
  <div class="form-row">
    <div class="form-group col-sm-6">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" placeholder="Inserte nombre..." [formControl]="fg.controls['name']">
      <ul>
        <li *ngFor="let s of suggestions;">{{ s }}</li>
      </ul>
      <div *ngIf="fg.controls['name'].hasError('required')">Nombre obligatorio!</div>
      <div *ngIf="fg.controls['name'].hasError('invalid')">Nombre invalido!</div>
    </div>
    <div class="form-group col-sm-6">
      <label for="imagenUrl">Imagen Url</label>
      <input type="text" class="form-control" id="url" placeholder="Ingresar url..." [formControl]="fg.controls['url']">
    </div>
  </div>
  <div class="form-group">
    <label for="description">Descripción</label>
    <textarea id="description" class="form-control" rows="4" placeholder="Inserte descripción..." [formControl]="fg.controls['description']"></textarea>
    <div *ngIf="fg.controls['description'].hasError('required')">Descripción obligatoria!</div>
    <div *ngIf="fg.controls['description'].hasError('length')">Descripción debe tener almenos {{minLength}} caracteres!</div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!fg.valid ? 'disabled' : null">Guardar!</button>
</form>
